td {
		width: 100px;
		height: 100px;
		text-align: center;
	}


	.vertical {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	.bottom-up {
		border-bottom: 1px solid black;
		border-top: 1px solid black;
	}


	table {
		margin: auto;
	}
	

	h1 {
		text-align: center;
		letter-spacing: 1em;
		text-transform: uppercase;
	}


.container {
	text-align: center;
}

#table {
	padding-top: 5%;
}

.hidden {
	display: none;
}